@model Room

@{
    ViewData["Title"] = "AddRoom";
}

@{
    var roomTypeList = new List<SelectListItem>
    {
        new SelectListItem{Text="Delux"},
        new SelectListItem{Text="Super Delux"},
        new SelectListItem{Text="Standard"}
    };
}

<h1>AddRoom</h1>
<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

