@model List<Room>
<a class="btn btn-success" asp-controller="Room" asp-action="AddRoom">Add New Room</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Avilability</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <td>@s.Type</td>
                <td>@s.Price</td>
                <td>@s.Avilability</td>
                <td>
                    <a href="/Room/Edit/@s.Id"> <i class="bi bi-pencil-square text-warning"></i></a>
                    <a href="Room/Delete/@s.Id"> <i class="bi bi-trash text-Danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>