@using Microsoft.EntityFrameworkCore
@model Booking

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Hotel</h1>
    <a class="btn btn-primary" asp-controller="Booking" asp-action="AddBooking">Book Room</a>
    
    <p>
        Number of Standard Room Avilable=</a>
        </p>
        <p>Number of Delux Room Avilable=</p>
        
        
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
